# Lectures

In this directory, you'll find the Jupyter Notebooks we reference during lecture in this course.

Google colab versions of these notebooks may also be available.  Please consult the course Canvas site for more details.

You'll also find a `data` folder (directory).  In that folder there are data files used throughout the lectures in the course.

## Code snippets for reference

#Here are a few code snippets for reference.  These may be used at various times during the course

### The stuff at the top of each lecture notebook

In [10]:
# The stuff at the top of each lecture notebook

# Click into this cell and press shift-enter before using this notebook.
# This line loads the ability to use %%ai in your file
%load_ext jupyter_ai_magics
# These lines import the Python modules we commonly use in CMPSC 5A
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots

The jupyter_ai_magics extension is already loaded. To reload it, use:
  %reload_ext jupyter_ai_magics

### Reading a table from CSV data in a string

In [13]:
### Reading a table from CSV data

uc_csv_data = """
Campus,Location,Undergrad Enrollment,Grad Enrollment,Total Enrollment,Year Founded,Latitude,Longitude
UCLA,Los Angeles,31600,13100,44700,1919,34.0689,-118.4439
UC Berkeley,Berkeley,30800,11700,42500,1868,37.8719,-122.2585
UC San Diego,San Diego,30200,9700,39900,1960,32.8801,-117.2340
UC Davis,Davis,30300,7500,37800,1905,38.5382,-121.7617
UC Santa Barbara,Santa Barbara,22000,3600,25600,1944,34.4133,-119.8489
UC Irvine,Irvine,29600,5800,35400,1965,33.6405,-117.8443
UC Santa Cruz,Santa Cruz,17300,1800,19100,1965,36.9914,-122.0588
UC Riverside,Riverside,23900,5400,29300,1954,33.9737,-117.3281
UC Merced,Merced,7700,1100,8800,2005,37.3646,-120.4244
"""

from io import StringIO
ucTable = Table.read_table(StringIO(uc_csv_data))
ucTable

Campus           | Location      | Undergrad Enrollment | Grad Enrollment | Total Enrollment | Year Founded | Latitude | Longitude
UCLA             | Los Angeles   | 31600                | 13100           | 44700            | 1919         | 34.0689  | -118.444
UC Berkeley      | Berkeley      | 30800                | 11700           | 42500            | 1868         | 37.8719  | -122.258
UC San Diego     | San Diego     | 30200                | 9700            | 39900            | 1960         | 32.8801  | -117.234
UC Davis         | Davis         | 30300                | 7500            | 37800            | 1905         | 38.5382  | -121.762
UC Santa Barbara | Santa Barbara | 22000                | 3600            | 25600            | 1944         | 34.4133  | -119.849
UC Irvine        | Irvine        | 29600                | 5800            | 35400            | 1965         | 33.6405  | -117.844
UC Santa Cruz    | Santa Cruz    | 17300                | 1800            | 19100            | 1965         | 36.9914  | -122.059
UC Riverside     | Riverside     | 23900                | 5400            | 29300            | 1954         | 33.9737  | -117.328
UC Merced        | Merced        | 7700                 | 1100            | 8800             | 2005         | 37.3646  | -120.424

### Loading the UCSB Courses Data, with extra columns, and cleaning

In [8]:
### Loading the courses table, with extra columns

courseTable = Table.read_table("data/ucsb-s25-courses.csv")

def courseIdToDept(courseId):
    return courseId[0:8].strip()

def courseIdToCourseNum(courseId):
    return courseId[8:13].strip()

def courseIdToSuffix(courseId):
    return courseId[14:].strip()

def is_undergrad(courseid):
    """ returns true if course is undergrad, otherwise returns false """
    return courseid[8]==' ' or courseid[8]=='1'

def is_graduate(courseNum):
    """ True if courseNum isn't a space and it isn't a 1 (so it must be a graduate course) """
    return courseNum[8] != ' ' and courseNum[8] != '1'

def is_lecture(sectionNum):
    # if section number is divisible by 100, it's a lecture
    return sectionNum % 100 == 0

def tenOrMoreStudents(enrollment):
    return enrollment > 10

In [9]:
departments = courseTable.apply(courseIdToDept, 0)
courseNums = courseTable.apply(courseIdToCourseNum, 0)
suffixes = courseTable.apply(courseIdToSuffix, 0)
courses = courseTable.with_columns("dept",departments,"courseNum",courseNums,"suffix",suffixes)
coursesToCount = courses \
    .where("COURSEID", is_undergrad) \
    .where("SECTION", is_lecture) \
    .where("ENROLLED", tenOrMoreStudents)
coursesToCount

COURSEID        | ENROLLED | GES                | INSTRUCTOR    | MAXENROLL | QUARTER | SECTION | STATUS | dept  | courseNum | suffix
CMPSC     5A -1 | 128      | C (L&S), QNT (L&S) | CONRAD P T    | 150       | 20252   | 100     | nan    | CMPSC | 5A        | 1
CMPSC     9  -1 | 166      | nan                | KHARITONOVA Y | 300       | 20252   | 100     | nan    | CMPSC | 9         | 1
CMPSC    16  -1 | 113      | nan                | MAJEDI M      | 150       | 20252   | 100     | Closed | CMPSC | 16        | 1
CMPSC    24  -1 | 146      | nan                | MIRZA D       | 149       | 20252   | 100     | nan    | CMPSC | 24        | 1
CMPSC    32  -1 | 133      | nan                | NASIR N       | 150       | 20252   | 100     | nan    | CMPSC | 32        | 1
CMPSC    40  -1 | 110      | nan                | MAJEDI M      | 150       | 20252   | 100     | Closed | CMPSC | 40        | 1
CMPSC    64  -1 | 80       | nan                | MATNI Z A     | 150       | 20252   | 100     | Closed | CMPSC | 64        | 1
CMPSC   111  -1 | 39       | nan                | MATNI Z A     | 147       | 20252   | 100     | Closed | CMPSC | 111       | 1
CMPSC   130A -1 | 91       | nan                | NASIR N       | 150       | 20252   | 100     | nan    | CMPSC | 130A      | 1
CMPSC   130B -1 | 90       | nan                | SINGH A K     | 150       | 20252   | 100     | nan    | CMPSC | 130B      | 1
... (1297 rows omitted)