In [ ]:
# Click into this cell and press shift-enter before using this notebook.
# This line loads the ability to use %%ai in your file
%load_ext jupyter_ai_magics
# These lines import the Python modules we commonly use in CMPSC 5A
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots

# Code examples to help with lab03

Note that the data file used in the examples in *this* file is the same data file
we used in lab02; that's where you can find the actual data file.

This is a different data file from the one you are using in lab03 (which is a data file
about fatal traffic accidents in the city of Los Angeles.)

In [ ]:
ranking = Table.read_table("../lab02/data/world_university_rankings.csv")

In [ ]:
ranking

### `are.contained_in` and `are.containing`

In [ ]:
# lists everything that has "United" in it
ranking.where("location", are.containing("United"))

In [ ]:
ivies = ["Harvard University", "Yale University", "Columbia University"]

In [ ]:
# lists everything that's in ivies
ranking.where("ranking-institution-title", are.contained_in(ivies))

### `tbl.group(column_or_columns, func)`

`func` is how you want to aggregate values

In [ ]:
teaching = ranking.select("location", "Teaching Score")
teaching

In [ ]:
# group gives counts by default
teaching.group("location")

In [ ]:
# it can do other things, like get the max of all scores for a single location
teaching.group("location", max)

In [ ]:
teaching.group("location", min)

Let's verify the min max result!

In [ ]:
# here are the teaching scores for the 5 Austrian universities
teaching.where("location", "Austria")

In [ ]:
min(41.6, 26.1, 25.4, 19.9, 25.1)

In [ ]:
max(41.6, 26.1, 25.4, 19.9, 25.1)

In [ ]:
# This will work for any function!!!

### `tbl.barh(categories, values)`
#### Bar chart, good for labels that have numerical values

In [ ]:
ireland = ranking.where("location", "Ireland")
ireland

In [ ]:
# plot ranking-institution-title on the y-axis and teaching score on the x-axis
ireland.barh("ranking-institution-title", "Teaching Score")

### `tbl.scatter(x_column, y_column)`
#### Good for two columns of numerical data

In [ ]:
two_cols = ranking.select("rank", "Teaching Score")

In [ ]:
# rank on x-axis, teaching score on y-axis
two_cols.scatter("rank", "Teaching Score")

# Not needed for lab03, but still good to know about

The methods below are not used in lab03, but we may need them in the future, so they are good to know about!

### `tbl.hist(column, bins)`
#### Good for one column of numerical data
- `column`: string \
    name of the column with categories
- `bins`: (Optional) list or int\
    Lower bound for each bin in the histogram or number of bins. If None, bins will be chosen automatically.

In [ ]:
ranking.hist("Teaching Score", bins=np.arange(0, 100, 5)) # bins from 0-100, every 5

In [ ]:
ranking.hist("Teaching Score", bins=10) # 10 bins over the range of the data